<nav><li>
  <ul><a routerLink="/main-page" routerLinkActive="active" ariaCurrentWhenActive="page">Strona główna</a></ul>
  <ul><a routerLink="/user-page" routerLinkActive="active" ariaCurrentWhenActive="page">Strona dla użytkownika</a></ul>
  <ul><a routerLink="/admin-page" routerLinkActive="active" ariaCurrentWhenActive="page">Strona dla admina</a></ul>
  <ul><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a></ul>
  <ul><button (click)="logout()" [hidden]="!isLoggedIn()">Wyloguj</button></ul>
</li></nav>

<router-outlet />
